name: Release

on:
  push:
    tags:
      - "v*.*.*"

permissions:
  id-token: write  # Required for OIDC
  contents: read

jobs:
  release:
    name: 'Build and Publish'
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v3

      - name: Use Node.js 24.x
        uses: actions/setup-node@v3
        with:
          node-version: 24.x
          registry-url: 'https://registry.npmjs.org'

      - run: npm ci
      - name: Update version in package.json
        run: |
          VERSION=$(echo "${{ github.ref_name }}" | cut -d'v' -f2)
          jq --arg ver "$VERSION" '.version = $ver' package.json > tmp.json && mv tmp.json package.json

      - run: npm run build
      - run: npm publish
